<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%= link_to 'Destroy Comment', [comment.emergency, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>