<%= form_with(model: [ @emergency, @emergency.comments.build ], local: true) do |form| %>
  <% if @emergency.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= pluralize(@emergency.errors.count, "error") %> prohibited
      this emergency from being saved:
    </div>
    <div id="error_explanation">
      <ul class="list-group">
        <% @emergency.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-action list-group-item-warning"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, class: "form-control", id:"exampleFormControlInput1", placeholder:"..." %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control" %>
  </p>

  <p>
    <%= form.submit  class:"btn btn-outline-dark" %>
  </p>
<% end %>
