<div class="container">
  <%= form_with model: @emergency, local: true do |form| %>
    <% if @emergency.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <%= pluralize(@emergency.errors.count, "error") %> prohibited
        this emergency from being saved:
      </div>
      <div id="error_explanation">
        <ul class="list-group">
          <% @emergency.errors.full_messages.each do |msg| %>
            <li class="list-group-item list-group-item-action list-group-item-warning"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :alert %><br>
      <%= form.text_field :alert, class: "form-control", id:"exampleFormControlInput1", placeholder:"Eg. Security Alerts" %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location, class: "form-control" %>
    </p>

    <p>
      <%= form.label :user %><br>
      <%= form.text_field :user, class: "form-control" %>
    </p>

    <p>
      <%= form.label :date %><br>
      <%= form.text_field :date, class: "form-control" %>
    </p>

    <p>
      <%= form.submit  class:"btn btn-outline-dark" %>
    </p>
  <% end %>
  <%= link_to 'Back', emergencies_path, class:"btn btn-outline-info" %>
</div>


