<div class="container">
  <h1>Security Dashboard</h1>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Alert</th>
      <th scope="col">Location</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th></th>
      <th></th>
      <th><button type="button" class="btn btn-link"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg> <%= link_to 'Add New', new_emergency_path %></button></th>
    </tr>
    </thead>
    <tbody>
    <% @emergencies.each do |emergency| %>
    <tr>
      <td>
        <%= emergency.id %>
      </td>
      <td>
        <%= emergency.alert %>
      </td>
      <td>
        <%= emergency.location %>
      </td>
      <td>
        <%=emergency.user %>
      </td>
      <td>
        <%= emergency.date %>
      </td>
      <td><%= link_to 'Show', emergency_path(emergency), class: "btn btn-outline-dark" %></td>
      <td><%= link_to 'Edit', edit_emergency_path(emergency), class: "btn btn-outline-warning" %></td>
      <td><%= link_to 'Destroy', emergency_path(emergency), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>