<div class="container">
  <p>
    <strong>Alert Type:</strong>
    <%= @emergency.alert %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @emergency.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @emergency.user %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @emergency.date %>
  </p>

  <h2>Comments:</h2>
  <%=  render @emergency.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <%= link_to 'Back', emergencies_path, class:"btn btn-outline-dark" %>
  <%= link_to 'Edit', edit_emergency_path, class:"btn btn-outline-info" %>
</div>



